/* Reset defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Header styles */
header {
    background-color: #d44418;
    color: white;
    padding: 15px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

header .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
}
.logo-text {
     text-decoration: none;
     color: white;
}
a {
  text-decoration: none; 
  color: #b30000;
}
nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Hero Image Section */
.hero {
    width: 100%;
    overflow: hidden;
}

.hero-image {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

/* Main Content */
.content {
    max-width: 1000px;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.content h1 {
    font-size: 2.2rem;
    margin-bottom: 15px;
}

.content h2 {
    margin-top: 20px;
    color: #f02b1d;
}
h3{
     color: #c92317;
     font-size: 20px;
}

.content .date {
    color: #777;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.content p {
    margin-bottom: 15px;
    font-size: 1.05rem;
    line-height: 1.7;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
    font-size: 0.9rem;
}

img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
ol, ul{
    margin-left: 40px;
}

/* Responsive Design */
@media (max-width: 768px) {
    header .container {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        margin-top: 10px;
    }

    .content {
        margin: 15px;
        padding: 15px;
    }

    .content h1 {
        font-size: 1.8rem;
    }
}







